html
  head
    link(href="/styles/styles.css" media="all" rel="stylesheet")
  body
    .Grid
      .Grid-cell.Grid--1of4
        h1=title
        ul
          li Login
          li Account
          li Manage
      .Grid-cell.Grid--1of2
        .Grid
          .Grid-cell
            div.score 
              = 34
              div.manager topfunky
          .Grid-cell
            div.score.opponent
              = 56
              div.manager maggiepint
        div
          div This is some text inside of a div block.
          img.avatar(src="https://avatars.githubusercontent.com/u/26?v=3")
          h2 My Team
          table
            tr
              th Event
              th Time
              th.last Score
            tr
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr.even
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr.even
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr.even
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2

          img.avatar(src="https://avatars.githubusercontent.com/u/6054610?v=3")
          h2 Opposing Team
          table
            tr
              th Event
              th Time
              th.last Score
            tr
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr.even
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr.even
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr.even
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2
            tr
              td CommitEvent
              td Jan 5 01:34
              td.last 23.2

      
      .Grid-cell.Grid--1of4
        div This is some text inside of a div block.
      .Grid-cell
        div This is some text inside of a div block.

